.faculty-spotlight.parallax {
    background-image: linear-gradient( rgba(61, 80, 134, 0.85), rgba(61, 80, 134, 0.85)), url("http://www.msm.edu/careerprofessionaldevelopment/images/TeachingAcademy-h2.jpg");
}

.faculty-spotlight {
    p.lead { line-height: 1.5; font-size: 1rem; color:#f8dd6c;  }
    p { margin-bottom:.5rem;}
    .social-list-inline a:hover { color:#f8dd6c}
}