.impact-bar.wrapper {
    padding-top: 0;
    padding-bottom: 0;
    background-image: url('../_resources-new/images/home/diag-bar-bk.jpg');
}

.impact-bar section {
    >.row > div {
        padding-top: 10px;
        p,
        ul {
            padding-bottom: 0;
            margin-bottom: 0
        }
    }
    >.row > div.fancy-heading {
        background: rgba(18, 26, 51, 0.4);
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 0;
        p {
            font-size: 1rem;
            font-weight: 300;
        }
        
    }
    .button-list.blue li a {
            background: rgba(18, 26, 51, 0.61);
        }
}

@media (min-width: 992px) {
    .impact-bar section .fancy-heading {
        width: 20%;
        margin-left: 15px;
        margin-right: 15px;
    }
}