.parallax {
    background-image: linear-gradient( rgba(61, 80, 134, 0.45), rgba(61, 80, 134, 0.45)), url("");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}