.background-grey { background-color:#eaedf2; }
.background-secondary { background-color: #289cc1;}
.background-primary { background-color:#2e3e72;}
.background-heathergrey { background-color: #444444;}
.background-inverse { color:#fff;
    a { color:inherit;}
}
.wrapper { padding: 25px 15px; clear:both; display:block; }
div.wrapper.background-custom { margin-top:0;}