.impact-bar.wrapper {
    padding-top: 0;
    padding-bottom: 0;
    background-image: url('../_resources-new/images/home/diag-bar-bk.jpg');
}

.impact-bar {
    section >.row > div {
        padding-top: 1rem;
        padding-bottom: 1rem;
        p,
        ul {
            padding-bottom: 0;
            margin-bottom: 0
        }
    }
    .fancy-heading {
        background: rgba(18, 26, 51, 0.4);
        text-align: center;
        padding: 20px 0;
        font-family: 'Times New Romans', serif;
        p {
            font-size: 1.3rem;
            font-weight: 300;
            text-align: center;
            display: block;
            width:100%; 
        }
        
        p a { color:inherit; display: inline-block;  
             border-top: 1px solid transparent;}
        p a:hover { border-bottom: 1px dotted #cad7ff; color:#cad7ff }
        
    }
    .button-list.blue { margin-top:1rem;}
    .button-list.blue li a {
            background: rgba(18, 26, 51, 0.61);
        }
    .button-list.blue li a:hover {
            background: rgba(18, 26, 51, 0.71);
        }
}

 

@media screen and (min-width:40em) {
    .impact-bar .button-list.blue { margin-top:3px;}
    .impact-bar .button-list.blue li { margin-bottom: 0;}
  .impact-bar .equal-row {    
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:stretch;
}
.impact-bar .equal-row > div {
    
    //margin: 0;
    min-height: 0;
    min-width: 0;
    display: inherit;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: background-color 300ms ease-in-out 300ms;
    -moz-transition: background-color 300ms ease-in-out 300ms;
    -o-transition: background-color 300ms ease-in-out 300ms;
    transition: background-color 300ms ease-in-out 300ms;
}
}