div.wrapper.background-custom>.row {
    background: inherit;
}

.msm-events {
    padding-bottom: initial;
    border-bottom: 0;
    margin-bottom: 0;
    ul,
    li {
        list-style: none;
    }
    span.fa-stack {
        text-align: center;
        display: block;
        position: initial;
        color: #7e97b6;
    }
    span.calendar-text {
        padding-top: 30px;
        color: #444;
        line-height:18px;
        font-weight: 600;
    } 
    li a {  display:block; color:#444; padding-bottom:20px;
        strong { color:$brand-primary}    
    }
    li a:hover {
        strong { text-decoration: underline;}
    }
    strong {
    clear: both;
    margin-top: 10px;
    display: inline-block; 
}
    
    .calendar-text-month { font-size: 10px;display:block;clear:both; text-transform: uppercase; }
    .calendar-text-day {clear:both;  font-size: 2rem;}
    .event-date:before { content:"\2014"}
}

